main {
  margin: 2em auto 10em auto;
  max-width: 700px;
  text-align: center;
  font-family: monospace;
}

#icon {
  max-width: 200px;
  margin: 20px;
}

#inputDiv, #rssDiv {
  display: flex;
  margin-top: 20px;
}

input, #rss {
  border-radius: 10px 0 0 10px;
  border: 1px solid #555;
  border-right: 0;
  flex: 1;
  outline: none;
  padding: 1em;
}

input:focus, input:focus + button {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

#rss {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  color: inherit;
}

button {
  background: #ccc;
  border-radius: 0 10px 10px 0;
  border: 1px solid #555;
  color: #444;
  font-size: 20px;
  width: 30px;
}

button:hover {
  background: #ddd;
}

#rss:not([href]) {
  border-radius: 10px;
  border-right: 1px solid #555;
  text-align: center;
}

#rss:not([href]) + button {
  display: none;
}

#rss.error {
  color: red;
}

#copied {
  color: #999;
  float: right;
  margin-top: 1em;
  opacity: 0;
  transition: opacity 1s;
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0);
  }

  20%, 60% {
    transform: rotate(-25deg);
  }

  40%, 80% {
    transform: rotate(10deg);
  }
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
  transform-origin: 130px 106px;
}
